@import url(fonts/font.css);

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "regular";
}
#main-page {
  font-size: 18px;
}
html { scroll-behavior: smooth; }
body {
  /*font-family: 'Roboto', sans-serif;*/
  color: #555656;
}
main{ margin: 0 auto;  }
.inner-padding{ padding: 0% 3%; }
a { text-decoration: none !important;}
.bg-black{
  background: #000000;
  color: #fff;
}
.greetings {
  font-size: 138px;
  color: #555656;
  font-weight: 900;
  position: relative;
  left: -32px;
  font-family: 'Black Han Sans', "regular";
  opacity: 0.3;
}

#home{ background: #000000; }
#about{ background: #000000; }
#about-section{ background: #000000; float: left; padding: 8% 3% 8%; }
#about-2{ float: left; padding: 8% 3% 5%; }
#logo{ opacity: 0.8; }
#work{padding: 0% 3%; float: left;}
#get-touch{
  opacity: 0.4;
  float: left;
  width: 100%;
}
#main-page #works{
  min-height: 0;
}
#main-page #about{
  min-height: 0;
}
#main-page #contact{
  min-height: 0;
}

/*BEGAN HEADER*/
.header {
  padding: 3% 3%;
  width: auto;
  margin: 0 auto;
}
.header nav {
  display: flex;
}
.header nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #555656;
  font-family: "Open Sans" , "regular";
}
#home nav a, #about nav a{
  color: #FFFFFF;
}
#home nav a:hover, #about nav a:hover {
  color: #FF1A1A;
}
.header nav a:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #FF1A1A;
  font-family: "Open Sans" , "regular";
}
.header nav ul {
  flex-grow: 1;
  text-align: right;
}
.header nav ul li {
  list-style: none;
  display: inline-block;
  padding-left: 57px;
}
.active-nav > .nav-red-line{
  width: auto;
  height: 0px;
  border-bottom: 13px solid #ff1a1a;
  margin: -10px -7px 0px;
  opacity: 1;
  /*        position: relative;*/
}
.about-details > .nav-red-line{
  width: auto;
  height: 6px;
  border-bottom: 7px solid #ff1a1a;
  margin: -13px -8px 7px;
  opacity: .7;
  position: relative;
}
/*END HEADER*/

/*BEGAN SHORT ABOUT*/
.short-about-me {
  width: 52%;
  margin-left: 33.3333%;
  margin-right: 16.6666%;
  padding-bottom: 70px;
  opacity: 0.8;
}
.short-about-me p {
  line-height: 24px;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.short-about-me ul li {
  list-style: none;
  line-height: 24px;
  padding: 10px 0;
  font-size: 18px;
}
.short-about-me ul li:before {
  content: "\2022";
  color: #FF1A1A;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
/*END SHORT ABOUT*/

/*BEGAN WORK LIST*/
.works-lists{
  width: 66%;
}
.list-inner{
  width: auto;
}
.round-shape-inner {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff1a1a;
  margin: 4% 4% 62% 0%;
  float: left;
}
.list-details h3 {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: -8px;
  color: #555656;
  line-height: 56px;
}
.list-details p {color: #555656; font-family: "Roboto", "regular"; }
.list-inner-right {
  padding-top: 3.2em;
  float: left;
  width: 40%;
}
.list-inner-left{
  float: left;
  width: 60%;
}
.list-inner-left img {
  max-width: 100%;
}
/*END WORK LIST*/

/*BEGAN BIGGER TITLES*/
.work-title {
  font-size: 138px;
  font-family: 'Black Han Sans', "regular";
  color: #555656;
  font-weight: 900;
  position: relative;
  left: -68px;
  width: 34%;
  opacity: 0.4;
  float: left;
  margin-top: 8%;
}
.about-title {
  font-size: 138px;
  font-family: 'Black Han Sans', "regular";
  color: #555656;
  opacity: 0.3;
  font-weight: 900;
  position: relative;
  left: -70px;
  width: 50%;
  float: left;
}
/*END BIGGER TITLES*/

/*BEGAN BIGGER HEADING*/
.case-title {
  justify-content: space-between;
  float: left;
  width: 100%;
}
.section-title {
  font-size: 96px;
  font-family: 'Black Han Sans', "regular";
  color: #555656;
  opacity: 0.3;
  font-weight: 900;
  position: relative;
  left: -0.25em;
  flex-basis: 30%;
  z-index: 9;
}
.red-dot{
  height: 15px;
  width: 15px;
  background-color: #FF1A1A;
  border-radius: 50%;
  display: inline-block;
}
.case-red-line{
  width: 621px;
  height: 26px;
  border-bottom: 35px solid #ff1a1a;
  margin: -58px -31px 0px;
  opacity: .8;
}
/*END BIGGER HEADING*/

/*BEGAN ABOUT SECTION*/
.about-details {
  width: 50%;
  color: #fff;
  text-align: justify;
  float: left;
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .about-details {
    width: 50%;
  }
}

.about-details > .round-shape-inner {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ff1a1a;
  margin: -4% 0% 0% 0%;
  float: left;
}
.about-details h4 {
  padding: 0px 0 30px;
  font-size: 32px;
  font-weight: normal;
  padding-left: 15px;
}
.about-details p {
  line-height: 24px;
  padding-left: 15px;
}
.about-details > .resume-link {
  padding-top: 30px;
  width: 99px;
  margin-left: 14px;
  float: left;
  text-decoration: none;
  color: #fff;
}
.bottom-about-details {
  float: left;
  color: #555656;
}
.about-details-2 {
  color: #555656;
  padding-left: 50%;
  float: left;
}
/*END ABOUT SECTION*/

/*BEGAN FOOTER SOCIAL LINKS*/
.footer-line{
  border-bottom: 7px solid #ff1a1a;
  margin: 20px 0px;
  opacity: .8;
}
.footer-links{
  padding: 0px 8%;
  margin: 4% 0% -2.3%;
  float: left;
}
.img_center {
  margin-left: auto;
  margin-right: auto;
}
#social-icons{
  float: left;
  width: 100%;
  margin-bottom: 3%;
}
/*END FOOTER SOCIAL LINKS*/


@media (max-width: 1299px) {
  .works-details {
    flex-direction: column;
  }
  .works-details .section-title {
    padding-top: 0;
  }
}
@media (max-width: 1024px) {

}
@media (max-width: 420px) {
  #main-page {
    font-size: 12px !important;
  }
  .header {
    padding: 3% 3%;
  }

  .header nav ul li {
    padding-left: 20px;
  }

  .header nav a {
    font-size: 10px;
  }

  .header nav a:hover {
    font-size: 10px;
  }

  .greetings, .section-title {
    font-size: 40px;
    left: -2.5%;
    padding-bottom: 0px;
  }
  #logo > img{ width: 26%; }
}
@media (min-width: 200px) and (max-width: 421px) {
  #resume-page .resume-contacts ul li a span {
    font-size: 10px !important;
  }
  .short-about-me p {
    line-height: 16px;
    font-size: 10px;
  }
  .short-about-me ul li {
    line-height: 16px;
    font-size: 10px;
  }
  .short-about-me {
    width: 92%;
    margin-left: 4%;
    margin-right: 7%;
    padding-bottom: 6%;
  }
  .work-title{
    font-size: 38px;
    font-weight: 400;
    left: -19px;
    width: 100%;
  }
  .works-lists{
    width: 100%;
  }
  .list-inner-right {
    padding-top: .2em;
    width: 100%;
  }
  .list-inner-left{
    width: 100%;
  }
  .round-shape-inner {
    float: right;
  }
  .list-details h3 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: -8px;
    color: #555656;
    line-height: 16px;
  }
  .list-details p{
    line-height: 16px;
  }
  .round-shape-inner{
    margin: 2% 4% 20% 0%;
  }
  .list-details{
    margin: 3%;
  }

  .about-title {
    font-size: 45px;
    font-weight: 400;
    left: -20px;
    float: left;
    margin-top: 25%;
  }
  .about-details h4 {
    padding: 15% 3% 14%;
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
  }
  .about-details > .round-shape-inner {
    margin: 21% 0% 0% 0%;
  }
  .about-details > .resume-link {
    width: 67px;
  }
  .about-details p {
    font-size: 10px;
    line-height: 16px;
  }
.active-nav > .nav-red-line {
    width: auto;
    height: 0px;
    border-bottom: 9px solid #ff1a1a;
    margin: -7px -5px 0px;
  }
    .active-nav:not(.resume-link) > .nav-red-line {
      margin-top: -11px !important;
    }
  
  .lino {
    width: auto;
    height: 0px;
    border-bottom: 13px solid #ff1a1a;
    margin: -7px -7px 0px;
    opacity: 1;
    /*        position: relative;*/
  }

  #about-2{
    padding: 8% 3% 5%;
  }
  .about-details > .round-shape-inner {
    margin: -4% 0% 0% 0%;
  }
  #get-touch{
    font-size: 45px;
  }
  .case-title {
    margin-top: 8%;
  }

  .footer-links {
    padding: 0% 3%;
    margin: 0% 2.2% -6%;
  }
  .img_center{
    width: 32px;
  }

  #social-icons{
    margin-bottom: 10%;
  }

}
@media (max-width: 1023px) {
  .footer-links {
    margin: 0 !important;
    padding: 0 !important;
    margin-left: calc(20% - 65px) !important;
    margin-bottom: -30px !important;
  }
}
@media (min-width: 767px) and (max-width: 1299px){
  .greetings {
    font-size: 86px;
    left: -22px;
  }
  .work-title{
    font-size: 75px;
    left: -39px;
    width: 100%;
  }
  .works-lists{
    width: 100%;
  }
  .about-title{
    font-size: 75px;
    left: -38px;
    margin-top: 10%;
  }
  #about-2 {
    padding: 8% 3% 5%;

  }
  .about-details h4{
    font-size: 26px;
  }
  .footer-links {
    padding: 0px 6%;
    margin: 4% 0% -4.3%;
  }

  #resume-page .resume-title .resume-red-line {
    margin: -20px 351px;
  }
}

/***** project1.css ******/

/* load Open Sans Font from local */
@import url(fonts/font.css);

#case-study-page {
  font-family: 'Roboto', 'regular';
  color: #555656;
}
#case-study-page a {
  text-decoration: none !important;
}
#case-study-page li {
  list-style: none;
}
#case-study-page .img-responsive{
  display: inline;
}
#case-study-page .inner-padding{
  padding: 3px 100px;
  float: left;
}
/*BEGAN HEADER*/
#case-study-page .header {
  padding: 3% 0%;
  width: 93%;
  margin: 0 auto;
}
#case-study-page .header nav {
  display: flex;
}
#case-study-page .header nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #555656;
  font-family: "Open Sans" , "regular";
}
#case-study-page .header nav a:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #FF1A1A;
  font-family: "Open Sans" , "regular";
}
#case-study-page .header nav ul {
  flex-grow: 1;
  text-align: right;
}
#case-study-page .header nav ul li {
  list-style: none;
  display: inline-block;
  padding-left: 57px;
}
/*END HEADER*/

/*BEGAN BIGGER HEADING*/
#case-study-page .case-title {
  justify-content: space-between;
  float: left;
  width: auto;
}
#case-study-page .section-title {
  font-size: 96px;
  font-family: 'Black Han Sans', "regular";
  color: #555656;
  font-weight: 900;
  position: relative;
  left: -0.25em;
  flex-basis: 30%;
  z-index: 9;
}
#case-study-page .case-red-line{
  width: 621px;
  height: 26px;
  border-bottom: 35px solid #ff1a1a;
  margin: -58px -31px 0px;
  opacity: .8;
}
/*END BIGGER HEADING*/

/*BEGAN ROUND BUTTON*/
#case-study-page .round-button{
  border: 2px solid #808080;
  border-radius: 29px;
  padding: 10px 40px;
  text-decoration: none !important;
  color: #555656;
  margin: 10px;
  display: inline-block;
  width: auto;
}
#case-study-page a.round-button:hover {
  text-decoration: none;
  color:  #555656;
}
/*BEGAN ROUND BUTTON*/


#case-study-page #see-more{
  opacity: 0.8;
}
#get-touch{
  opacity: 0.4;
  float: left;
  width: 100%;
}
#case-study-page #case-study{
  opacity: 0.8;
}


/*#home, #about, #works, #contact {
min-height: 100vh;
}*/
#case-study-page #home .home-inner, #case-study-page #about .about-inner, #case-study-page #works .works-inner, #case-study-page #contact .contact-inner {
  min-height: 100vh;
}
#case-study-page .home-inner, #case-study-page .works-inner, #case-study-page .contact-inner {
  padding: 0 30px;
}


#case-study-page .see-red-line{
  width: 524px;
  height: 26px;
  border-bottom: 35px solid #ff1a1a;
  margin: -58px -31px 0px;
  opacity: .8;
}

#case-study-page .prototype-box ul li, p {
  color: #656565;
  font-size: 18px !important;
}

#case-study-page .dot ul li{
  list-style: disc;
  list-style-position: inside;
  font-size: 18px;
}
#case-study-page .prototype-box .service-box-heading {
  padding: 12px 0;
}

#case-study-page #proto-btn{
  margin: 10px 0px 60px;
}
#case-study-page .prototype-box .prototype-box-heading{
  color: #555656;
  font-size: 30px;
  line-height: 49px;
  font-weight: normal;
  margin-bottom: 10px;
  display: inline-block;
}

#case-study-page .prototype-box .prototype-box-heading span {
  color: #555656;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
  padding: 0px 50px 0px 50px;
}
#case-study-page .prototype-text{
  font-size: 14px;
}

#case-study-page .section-heading{
  font-size: 2.67em;
  margin: 0em;
}

#case-study-page .section-sub-heading{
  font-size: 2em;
  margin-bottom: 1em;
  float: left;
}

#case-study-page .section-content{
  font-size: 18px;
  text-align: justify;
}

#case-study-page .red-dot{
  height: 15px;
  width: 15px;
  background-color: #FF1A1A;
  border-radius: 50%;
  display: inline-block;
}

#case-study-page .table-bordered > thead > tr > th, #case-study-page .table-bordered > tbody > tr > td, #case-study-page .table-bordered {
  border: 1px solid #656565 !important;
}

#case-study-page .tbl-row{
  background-color: #F2CFCC;
}


#case-study-page .result-content{
  padding: 0px !important;
}
#case-study-page .footer-line{
  border-bottom: 7px solid #ff1a1a;
  margin: 20px 0px;
  opacity: .8;
}
#case-study-page .footer-links{
  margin: 30px 0px -30px 0px;
  padding: 0;
}

#case-study-page .img_center {
  margin-left: auto;
  margin-right: auto;
}
#case-study-page .img-border{
  border: 3px solid #555656;
}

/*BEGAN GENERIC CSS*/
#case-study-page .margin-top-10 { margin-top: 10px !important; }
#case-study-page .margin-top-20 { margin-top: 20px !important; }
#case-study-page .margin-top-50 { margin-top: 50px !important; }

#case-study-page .margin-bottom-10 { margin-bottom: 10px !important; }
#case-study-page .margin-bottom-15 { margin-bottom: 15px !important; }
#case-study-page .margin-bottom-20 { margin-bottom: 20px !important;  }
#case-study-page .margin-bottom-25 { margin-bottom: 25px !important; }
#case-study-page .margin-bottom-30 { margin-bottom: 30px !important; }
#case-study-page .margin-bottom-40 { margin-bottom: 40px !important; }

#case-study-page .margin-right-10 { margin-right: 10px !important; }
#case-study-page .margin-right-20 { margin-right: 20px !important; }
#case-study-page .margin-left-10 { margin-left: 10px !important; }

/*END GENERIC CSS*/

@media (min-width: 200px) and (max-width: 421px) {
  #case-study-page #roles{text-align: left !important;}
  #case-study-page #deliver{text-align: left !important;}
  #case-study-page #tools{text-align: left !important;}

  #case-study-page .inner-padding{
    padding: 0px;
  }

  #case-study-page .inner-padding .col-xs-6 {
    padding-top: 5px;
  }

  #case-study-page .section-sub-heading{
    line-height: 17px;
  }

  #case-study-page .prototype-box .prototype-box-heading{
    font-size: 17px;
    line-height: 12px;
  }

  #case-study-page .section-heading{
    font-size: 18px;
    line-height: 24px;
  }
  #case-study-page .prototype-box ul li, p {
    font-size: 12px !important;
    line-height: 30px;
  }
  #case-study-page .see-red-line{
    width: 232px;
    height: 8px;
    border-bottom: 16px solid #ff1a1a;
    margin: -55px -31px 0px;
    opacity: .8;
  }

  #case-study-page .case-red-line{
    width: 272px;
    height: 22px;
    border-bottom: 12px solid #ff1a1a;
    margin: -58px -31px 0px;
    opacity: .8;
  }

  #case-study-page .greetings, #case-study-page .section-title {
    left: -0.25em !important;
  }

  #case-study-page .red-dot{
    margin: 7px 5px;
  }

  #case-study-page .footer-links{
    margin: 0px 10px -19px 0px !important;
  }
}
@media (max-width: 420px) {
  #case-study-page #roles{text-align: left !important;}
  #case-study-page #deliver{text-align: left !important;}
  #case-study-page #tools{text-align: left !important;}

  #case-study-page  {
    font-size: 9px;
  }

  #case-study-page .section-sub-heading{
    line-height: 17px;
  }
  #case-study-page .prototype-box .prototype-box-heading{
    font-size: 17px;
    line-height: 12px;
  }
  #case-study-page .section-heading{
    font-size: 18px;
    line-height: 24px;
  }

  #case-study-page .prototype-box ul li, p, ul li {
    font-size: 12px !important;
    line-height: 24px;
  }

  #case-study-page .section-content ul li, p {
    font-size: 12px !important;
    line-height: 30px;
  }

  #case-study-page .section-sub-heading{
    font-size: 1.5em;
    margin-bottom: 1em;
    float: left;
  }

  #case-study-page .home-inner, #case-study-page .works-inner, #case-study-page .contact-inner {
    padding: 0 17px;
  }
  #case-study-page .header {
    padding: 20px 0 0 0;
  }

  #case-study-page .header nav ul li {
    padding-left: 20px;
  }

  #case-study-page .header nav a {
    font-size: 10px;
  }

  #case-study-page .header nav a:hover {
    font-size: 10px;
  }

  #case-study-page .table-bordered > thead > tr > th, #case-study-page .table-bordered > tbody > tr > td, #case-study-page .table-bordered {
    padding: 4px;
    padding-right: 0px;
    text-align: center;
  }
  #case-study-page .section-title {
    font-size: 40px;
    left: -0.25em;
    padding-bottom: 25px;
  }
}
@media (max-width: 1023px) {

}
@media (max-width: 767px) {

}

/***** resume.css ******/

/* load Open Sans Font from local */
/* #resume-page {
padding: 0;
margin: 0;
font-family: "Open Sans", "regular";
}
@import url(fonts/font.css);
#resume-page p{
font-size: 24px;
}
#resume-page .resume{
font-size: 24px ;
}

#resume-page a {
text-decoration: none;
color: #fff;
}
#resume-page li {
list-style: none;
} */

#resume-page  {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Open Sans", "regular";
}
html #resume-page  {
  scroll-behavior: smooth;
}
#resume-page  {
  font-family: 'Roboto', sans-serif;
  color: #555656;
}
#resume-page a {
  text-decoration: none;
  color: #fff;
}
#resume-page li {
  list-style: none;
}

#resume-page .img-trans{
  opacity: .7;
}
#resume-page .home {
  background: #000000;
  color: #fff;
}
#resume-page #home, #about, #works, #contact {
  min-height: 100vh;
}
#resume-page #home .home-inner, #resume-page #about .about-inner, #resume-page #works .works-inner, #resume-page #contact .contact-inner {
  min-height: 100vh;
}
#resume-page .home-inner, #resume-page .works-inner, #resume-page .contact-inner {
  padding: 0 30px;
}

#resume-page .header {
  padding: 32px 0 0 0;
}
#resume-page .header nav {
  display: flex;
}
#resume-page .header nav ul {
  flex-grow: 1;
  text-align: right;
}
#resume-page .header nav ul li {
  list-style: none;
  display: inline-block;
  padding-left: 57px;
}
#resume-page .header nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  font-family: "Open Sans" , "regular";
}

#resume-page .header .logo {
  text-align: center;
  padding: 30px 0;
}
#resume-page .header .logo img {
  max-width: 291px;
}
#resume-page .greetings {
  font-size: 138px;
  padding-bottom: 40px;
  color: #555656;
  font-weight: 900;
  position: relative;
  left: -48px;
  font-family: 'Black Han Sans', "regular";
}
#resume-page .short-about-me {
  width: 50%;
  margin-left: 33.3333%;
  margin-right: 16.6666%;
  padding-bottom: 70px;
}
#resume-page .short-about-me p {
  line-height: 30px;
  padding-bottom: 10px;
}
#resume-page .short-about-me ul li {
  list-style: none;
  line-height: 30px;
  padding: 10px 0;
}
#resume-page .short-about-me ul li:before {
  content: "\2022";
  color: #FF1A1A;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
#resume-page .active-nav {
  border-bottom: 9px solid #ff1a1a;
}

/*works */
#resume-page .works-inner .header nav a {
  color: #555656;
}
#resume-page .works-details {
  display: flex;
  padding-top: 70px;
}
#resume-page .section-title {
  font-size: 144px;
  font-family: 'Black Han Sans', "regular";
  color: #555656;
  font-weight: 900;
  position: relative;
  left: -69px;
  /*padding-top: 140px;*/
  flex-basis: 30%;
}

#resume-page .resume-red-line{
  width: 30px;
  height: 63px;
  border-bottom: 12px solid #ff1a1a;
  position: absolute;
  margin: -5px 518px;
}

#resume-page .works-lists {
  flex-grow:1;
}
#resume-page .list-inner {
  display: flex;
  padding-bottom: 50px;
}
#resume-page .list-inner-left img {
  max-width: 567px;
}
#resume-page .list-inner-right {
  display: flex;
  padding-top: 70px;
}
#resume-page .round-shape-inner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff1a1a;
  margin: 15px 0px;
}

#resume-page .list-details h3 {
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  margin-top: -8px;
}


/* about */
#resume-page .about {
  background: #000000;
}
#resume-page .about-inner header {
  padding: 0 30px;
  padding-top: 32px;
}
#resume-page .about .section-title {
  margin-bottom: -400px;
  margin-top: 100px;
  left: -18px;
  width:50%;
}
#resume-page .about-details {
  width: 47%;
  margin-left: 50%;
  padding: 70px 30px 70px 0;
  color: #fff;
  text-align: justify;
}

#resume-page .about-details h4 {
  padding: 30px 0;
  font-size: 32px;
  font-weight: normal;
  padding-left: 15px;
}
#resume-page .about-details p {
  line-height: 30px;
  padding-left: 15px;
}
#resume-page .about-details p.resume-link {
  padding-top: 30px;
}
#resume-page .bottom-about-details {
  background: #fff;
  height: 60vh;
}
#resume-page .about-details-2 {
  color: #555656;
}

/* contact */
#resume-page .contact-inner {
  display: flex;
  flex-direction: column;
}
#resume-page .contact-inner header nav a {
  color: #555656;
}
#resume-page .contact .round-shape-inner {
  display: inline-block;
  vertical-align: middle;
}
#resume-page .social-icons {
  padding-top: 100px;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}
#resume-page .social-icons ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  width: 100%;
}
#resume-page .social-icons ul li {
  display: inline-block;
}
#resume-page .social-icons ul li a i {
  color: #555656;
  font-size: 50px;
  background: #fff;
}


@media (max-width: 1299px) {
  #resume-page .works-details {
    flex-direction: column;
  }
  #resume-page .works-details .section-title {
    padding-top: 0;
  }

  #resume-page .resume-contacts ul li:nth-child(3) {
    border-right: unset;
  }
  #resume-page .resume-contacts ul li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 25px;
    left: calc(100% - 30px);
    margin-top: -25px;
    background: red;
  }
}
@media (max-width: 1024px) {
  #resume-page .works-details .list-inner {
    flex-direction: column;
  }
  #resume-page .list-inner-left img {
    max-width: 100%;
  }
  #resume-page .list-inner-right {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #resume-page .round-shape-inner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff1a1a;
    margin: 12px 0px;
  }
  #resume-page .about-details {
    width: 46%;
  }

  #resume-page .resume-contacts ul li:nth-child(4) {
    display: none;
  }
  #resume-page .resume-contacts ul li:last-child {
    display: none;
  }
}
@media (max-width: 420px) {
  #resume-page {
    font-size: 10px !important;
  }
  #resume-page .img-trans{
  }

  #resume-page .resume-contacts ul li a span.link-text{
    margin: 0px 2px -25px 4px;
  }


  #resume-page a:hover {
    border-bottom: 5px solid #ff1a1a;
  }
  #resume-page .active-nav {
    border-bottom: 5px solid #ff1a1a;
  }
  #resume-page .home-inner, #resume-page .works-inner, #resume-page .contact-inner {
    padding: 0 17px;
  }
  #resume-page .header {
    padding: 20px 0 0 0;
  }
  #resume-page .header nav ul li {
    padding-left: 20px;
  }
  #resume-page .header nav a {
    font-size: 10px;
  }
  #resume-page .header .logo img {
    max-width: 84px;
  }
  #resume-page .header .logo {
    padding: 20px 0;
  }
  #resume-page .greetings, #resume-page .section-title {
    font-size: 40px;
    left: -23px;
    padding-bottom: 25px;
  }

  #resume-page .resume-red-line{
    width: 8px;
    height: 68px;
    border-bottom: 5px solid #000000;
    position: absolute;
    margin: -21px 93px;
  }

  #resume-page .works-details {
    padding-top: 30px;
  }
  #resume-page .list-details h3 {
    font-size: 28px;
  }
  #resume-page .list-inner-right {
    padding-top: 20px;
  }
  #resume-page .short-about-me {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 70px;
  }
  #resume-page .round-shape-inner {
    width: 10px;
    height: 10px;
  }
  #resume-page .about-inner header {
    padding: 20px 17px;
  }
  #resume-page .about .section-title {
    margin-bottom: -330px;
    left: -8px;

  }
  #resume-page .about-details {
    padding: 40px 17px 40px 0;
    width: 45%;
  }
  #resume-page .about-details h4 {
    font-size: 12px;
    padding: 10px  0;
    padding-left: 7px;
  }
  #resume-page .about-details p {
    line-height: 16px;
    padding-left: 7px;
  }
  #resume-page .social-icons ul li a i {
    font-size: 22px;
  }
}
@media (min-width: 200px) and (max-width: 421px) {
  .footer-links {
    margin: 0 !important;
    padding: 0 !important;
    margin-left: calc(20% - 40px) !important;
    margin-bottom: -20px !important;
  }

  #resume-page .resume-red-line{
    margin: -29px 119px !important;
    width: 13px !important;
  }

  #resume-page .resume-contacts ul li a{
    text-align: center;
  }
}

/* resume page */
#resume-page .resume {
  max-width: 1440px;
  margin: 0 auto;
}
#resume-page .resume-top {
  padding: 0 30px;
  font-size: 24px !important;
}
#resume-page .resume-top .header nav a {
  color: #555656;
  text-decoration: none;
}

#resume-page #resume-title{
  opacity: 0.2;
}

#resume-page .resume-top .header nav a {
  color: #555656;
  text-decoration: none;
}

#resume-page .header nav a:hover {
  color: #FF1A1A;
}
#resume-page .resume-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FF1A1A;
}

#resume-page .resume-title .section-title {
  padding-top: 40px;
  font-size: 100px;
}
#resume-page .resume-title .resume-heading {
  min-width: 350px;
  padding-top: 80px;
  margin-left: -100px;
  font-size: 42px;
  font-family: "‘Open Sans’";
}
#resume-page .resume-title .resume-heading h3 {
  text-align: right;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 30px;
}
#resume-page .resume-title .resume-heading h3:last-child {
  margin-bottom: 0;
}

#resume-page .link-text {
  margin: 0px 1px -25px 15px;
  display: ruby-text;
}
#resume-page .resume-contacts ul li a span{
  font-size: 18px ;
}


#resume-page .resume-contacts ul {
  display: flex;
  justify-content: space-around;
}
#resume-page .resume-contacts ul li {
  border-right: 1px solid #FF1A1A;
  flex-grow:1;
  text-align: center;
}
#resume-page .resume-contacts ul li:first-child {
  border-left: 1px solid #FF1A1A;
}

#resume-page .resume-contacts ul li a {
  color: #555656;
  display: inline-block;
  padding-top: 5px;
}
#resume-page .resume-contacts ul li a:hover {
  border-bottom: none;
  color: #FF1A1A;
  transition: all .3s ease;
}
#resume-page .resume-contacts ul li a i {
  font-size: 25px;
  vertical-align: midbottomdle;
}

#resume-page .short-description {
  padding: 45px 30px;
}
#resume-page .short-description p {
  width: 66.6666%;
  margin: 0 auto;
  text-align: justify;
}
#resume-page .resume-bottom {
  padding: 0 30px;
  padding-bottom: 50px;
}
#resume-page .resume-bottom-first, #resume-page .resume-bottom-second {
  display: flex;
  padding-bottom: 35px;
}
#resume-page .skills {
  flex-basis: 40%;
  display: flex;
  padding-left: 10%;
}
#resume-page .skills .skills-inner {
  min-width: 100%;
}

#resume-page .experience {
  flex-basis: 68%;
  display: flex;
}
#resume-page .resume-bottom .round-shape-inner {
  margin-right: 25px;
}
#resume-page .resume-bottom h3 {
  font-weight: 800;
  font-size: 48px;
  margin-top: -8px;
}

#resume-page .resume-bottom h5 {
  font-weight: 800;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 5px;
}

#resume-page .resume p {
  line-height: 30px;
  font-size: 24px;
}
#resume-page .resume p.more-experience {
  padding-top: 50px;
}
#resume-page .resume p.more-experience a {
  color: #555656;
  font-weight: bold;
}

#resume-page .resume .padding-top {
  padding-top: 20px;
}

@media (max-width: 1023px) {
  #resume-page .resume-title .section-title {
    font-size: 80px;
  }
  #resume-page .resume-title .resume-heading h3 {
    font-size: 25px;
  }

  #resume-page .resume-contacts ul li:nth-child(3) {
    border-right: unset;
  }
  #resume-page .resume-contacts ul li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    left: calc(100% - 30px);
    margin-top: -20px;
    background: red;
  }

  #resume-page .short-description p {
    width: 100%;
  }
  #resume-page .skills {
    padding-left: 0;
  }

  #resume-page .resume-bottom-second .skills {
    min-width: 100%;
  }
  #resume-page .resume-bottom-second .skills .single-topic {
    min-width: 100%;
  }

  #resume-page .resume-bottom h3 {
    font-size: 35px;
  }

  #resume-page .resume-red-line{
    width: 33px;
    height: 63px;
    border-bottom: 10px solid #ff1a1a;
    position: absolute;
    margin: -25px 270px;
  }
}

@media (max-width: 767px) {
  #resume-page .resume-top {
    padding: 0 17px;
  }
  #resume-page .resume-title .section-title {
    font-size: 36px;
  }

  #resume-page .resume-contacts ul li:nth-child(3) {
    border-right: unset;
  }
  #resume-page .resume-contacts ul li:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    left: calc(100% - 17px);
    margin-top: -15px;
    background: red;
  }

  #resume-page .resume-red-line{
    width: 17px;
    height: 68px;
    border-bottom: 5px solid #ff1a1a;
    position: absolute;
    margin: -21px 7.3ex;
  }

  #resume-page .resume-title .resume-heading {
    padding-top: 60px;
    min-width: 175px;
    margin-right: 5px;
  }
  #resume-page .resume-title .resume-heading h3 {
    font-size: 12px;
  }
  #resume-page .resume-contacts ul li:last-child {
    display: none;
  }
  #resume-page .resume-contacts ul li.instagram {
    display: none;
  }
  #resume-page .resume-contacts ul li a {
    font-size: 10px ;
  }
  #resume-page .resume-contacts ul li a i {
    display: none;
  }
  #resume-page .short-description {
    padding: 35px 15px;
  }
  #resume-page .resume-bottom {
    padding: 0 15px;
  }
  #resume-page .resume-bottom-first, #resume-page .resume-bottom-second {
    flex-direction: column;
  }
  #resume-page .resume-bottom h3 {
    font-size: 18px;
    margin-top:-3px;
  }
  #resume-page .resume-bottom h5 {
    font-size: 12px;
  }
  #resume-page .resume-bottom .round-shape-inner {
    margin: 5px;
  }
  #resume-page .skills-details {
    display: flex;
    flex-wrap: wrap;
  }
  #resume-page .single-topic {
    flex-basis: 50%;
  }
  #resume-page .skills-details .single-topic:nth-child(1) {
    order: 1;
  }
  #resume-page .skills-details .single-topic:nth-child(2) {
    order: 3;
    margin-top: -140px;
  }
  #resume-page .skills-details .single-topic:nth-child(3) {
    order: 2;
  }
  #resume-page .experience {
    margin-top: 30px;
  }
}
